@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  width: 97.6%;
  background-color: #363636;
  padding: 1rem;
  color: #fff;
  margin: 0;
}

.logo {
  flex: 40%;
  padding-left: 5rem;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex: 20%;
}

li {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  border-right: 1px solid #c06014;
  font-size: 1.2rem;
  text-align: center;
  padding: 0 2rem;
  box-shadow: 1px 1px 0 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  align-items: center;
  display: flex;
}

.link {
  color: #fff;
  text-decoration: none;
}

.link:active,
.link:hover {
  color: #c06014;
}
