@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

.calculatorContain {
  display: flex;
  width: 40%;
  margin: 10% auto;
  flex-direction: column;
  gap: 2px;
  text-align: center;
  font-size: 2rem;
  font-family: 'Ysabeau Infant', sans-serif;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
}

.buttons {
  background-color: #f3f4ed;
  width: 24.7%;
  padding: 1.5rem 0;
  border: 1px solid #53616250;
}

.displaySection {
  width: 95%;
  background-color: #536162;
  text-align: right;
  padding: 2rem 2rem;
  padding-left: 0;
  color: #f3f4ed;
}

.buttons:nth-child(4n),
.buttons:last-child {
  background-color: #c06014;
  color: rgba(243, 244, 237, 0.8);
}

.zeroBtn {
  width: 49.7%;
}
